body{
    margin: 0; 
    padding: 0; 
    color:#333 ;
}
/* menu strt   */ 
.menu{
    position :fixed ; 
    top: 0;
    left:0; 
    right: 0;
    bottom:0;
    padding: 0; 
    margin: 0; 
    list-style: none ;
    display: flex ;
    flex-direction: column;
    flex: column;
    justify-content: center; 
    align-items: center; 
    gap:1.25rem ; 
    background-color: #5c6fda;   
    clip-path : circle(20px at calc(100vw -  5vw) 31px) ;
    transition: clip-path 0.5s ;
}
.menu li{
    position: relative; 
    z-index: 5;
}

.menu a{
    text-decoration: none;
    color:rgb(46,46,45) ;
    font-size:1.125rem ;
    text-transform: uppercase ; 
    font-weight: bold ;
    display: inline-block;
    width: 120px ;
    padding: 5px ;
 }

 .btn{
    position: absolute; 
    top: 28px; 
    left: calc((100vw - 5.3vw));
    transform: translateY(-50%);
    cursor: pointer; 
 }

 .btn>span {
    width: 3px; 
    height: 3px; 
    display: block ; 
    border: 2px solid white; 
    border-radius: 50%;
    margin-bottom:1px  ;
 }

 .highlight{
    position: absolute  ; 
    top:0 ;
    width: 0; 
    height: 0;
    background-color: white; 
    transition: transform 0.3s;
 }
/* menu end   */

/* image container start  */
.image-container{
    height: 70vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 

}
.img{
    width: 250px; 
    height: 250px;
    margin: 20px;
    border: 2px solid teal;
}

.image-one{
   background-image:url(https://i.pinimg.com/564x/d4/af/fe/d4affe0c196872c274dfd3f803a1e9a5.jpg);
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center;
}
.image-two{
    background-image:url(https://wallpapercave.com/wp/wp6048260.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;   
}
/* image container end */

/* heading start  */

.container{
    padding: 0 5vw;
    display: flex; 
    justify-content: center; 
    align-items: center;

}
article {
    padding: 20px 0 ;
}
article > h2{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center; 

}
.para{
    max-width: 700px;
    color: rgb(79,77,77);
    padding: 10px;
    text-align: center; 
    line-height:25px ;

}
/* heading end  */