 *{
    margin: 0 ;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
 }

 body{
    background: black;

 }
 .container{
    position: relative;
    width: 100%;
    height: 100vh;
    background:url(https://t3.ftcdn.net/jpg/05/53/91/40/360_F_553914046_OXSS3lasaLYGoJZLtVMX63YdVvEnBUPl.jpg)  no-repeat ;
    background-size: cover ;
    clip-path: circle(200px at var(--1) var(--2));

 }